*.idea
data/New TLG Inventory 02-28-2020.xlsx
data/~$rules.xlsx
output/data_analysis.xlsx
data/TLG-MOB ESX Servers v1.xlsx
df.xlsx
__pycache*
look.xlsx
output - Copy (2).py
output - Copy.py
data/parameters - Copy.xlsx
output/pt.xlsx
